<main
  class="bg-linear-to-r from-[#3F2F2AFF] from-45% via-[#7C573CFF] via-65% to-[#5F4431FF] to-90%"
>
  <div>
    <div
      class="bg-top-right bg-no-repeat z-[-1]"
      style="background-image: url('/png/main-fon.png')"
    >
      <div
        class="bg-top-right bg-no-repeat z-[-2]"
        style="background-image: url('/png/main-coffees.png')"
      >
        <div
          class="flex justify-center flex-col items-start gap-[30px] max-w-[540px] h-screen pl-20 pr-20 max-xl:pl-8 max-xl:pr-8 max-xl:max-w-[465px] max-xl:backdrop-blur-[4px]"
        >
          <h1
            class="title-h1 title-main font-bold text-[80px] tracking-[3px] leading-[90px] text-center bg-linear-to-r from-[#F8E4BEFF] from-20% via-[#FFF3E0FF] via-37% to-[#DFC39DFF] to-73%"
          >
            The Daily Grind
          </h1>
          <p class="text-[#DABB9E] text-[24px] max-w-[410px]">
            Luxury in Every Grain, Excellence in Every Cup – This Is The Daily Grind
          </p>
          <button
            class="text-[#f8e4be] p-2.5 rounded-[5px] w-[160px] bg-[#524139FF] cursor-pointer transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#795f53]"
          >
            Catalog
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
