<main
  style="
    background: linear-gradient(
      90deg,
      rgba(63, 47, 42, 1) 45%,
      rgba(124, 87, 60, 1) 65%,
      rgba(95, 68, 49, 1) 90%
    );
  "
>
  <div>
    <div
      class="bg-top-right bg-no-repeat z-[-1]"
      style="background-image: url('/png/main-fon.png')"
    >
      <div
        class="bg-top-right bg-no-repeat z-[-2]"
        style="background-image: url('/png/main-coffees.png')"
      >
        <div
          class="flex justify-center flex-col items-start gap-[30px] max-w-[540px] h-screen pl-20 pr-20"
        >
          <h1
            class="title-main font-bold text-[80px] tracking-[3px] leading-[90px] text-[white] text-center"
            style="
              background: linear-gradient(
                90deg,
                rgba(248, 228, 190, 1) 20%,
                rgba(255, 243, 224, 1) 37%,
                rgba(255, 248, 232, 1) 52%,
                rgba(223, 195, 157, 1) 73%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            "
          >
            The Daily Grind
          </h1>
          <p class="text-[#DABB9E] text-[24px] max-w-[410px]">
            Luxury in Every Grain, Excellence in Every Cup – This Is The Daily Grind
          </p>
          <button
            class="text-[#f8e4be] p-2.5 rounded-[5px] w-[160px]"
            style="background: rgba(247, 225, 188, 0.1)"
          >
            Catalog
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
