<h2 mat-dialog-title>Change password</h2>

<form
  [formGroup]="passwordForm"
  (ngSubmit)="save()"
  mat-dialog-content
  class="flex flex-col gap-4 pt-2"
>
  <div class="flex flex-col">
    <div class="grid grid-cols-[repeat(2,1fr)] gap-8 max-md:flex max-md:flex-col">
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput formControlName="currentPassword" type="text" required />
        <mat-error *ngIf="passwordForm.get('currentPassword')?.hasError('required')"
          >This field is required.</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" type="text" required />
        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['containSpaces']"
          >Please, delete spaces.</mat-error
        >
        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['lower']"
          >Must contain at least 1 lower-case letter.</mat-error
        >
        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['upper']"
          >Must contain at least 1 upper-case letter.</mat-error
        >
        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['number']"
          >Must contain at least 1 number.</mat-error
        >
        <mat-error *ngIf="passwordForm.get('newPassword')?.errors?.['length']"
          >Must contain at least 8 characters</mat-error
        >
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')"
          >This field is required.</mat-error
        >
      </mat-form-field>
    </div>
  </div>
</form>

<div class="flex justify-end gap-x-4 mt-4 mr-4 mb-4">
  <button
    type="button"
    class="w-30 bg-[#6B3C21] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] text-white cursor-pointer px-5 py-2 rounded-[3px]"
    (click)="close()"
  >
    Cancel
  </button>

  <button
    class="w-30 bg-[#6B3C21] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] text-white cursor-pointer px-5 py-2 rounded-[3px] disabled:border-gray-200 disabled:bg-[#504742] disabled:shadow-none disabled:pointer-events-none"
    [disabled]="passwordForm.invalid"
    (click)="save()"
  >
    Save
  </button>
</div>
