<div
  class="bg-[#ffff] border-1 border-solid border-[#C1B6AD] rounded-xl p-5 flex flex-col gap-3 min-h-full relative max-[500px]:p-2"
  style="align-items: flex-end"
>
  <div class="mx-auto flex items-center gap-[5px]">
    @if (product().masterVariant.images[0]) {
      <img
        [src]="product().masterVariant.images[0].url"
        alt="{{ product().masterVariant.images[0].label }}"
        class="h-[170px] w-[150px] object-contain rounded-[8px]"
      />
    }
    <div class="flex flex-col items-start ml-[3px]">
      <div *ngIf="attributes?.length" class="flex flex-col items-start">
        <p *ngFor="let role of attributes" class="capitalize">
          <span class="text-[#6E594BFF]">{{ role.name }}</span
          >: {{ role.degree }}
        </p>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between items-center gap-[5px]">
    <h2 class="text-md font-bold">{{ product().name['en-US'] }}</h2>
    <span class="text-md text-[#6E594BFF]">{{ product().metaDescription['en-US'] }}</span>
    @if (discountPrice !== undefined) {
      <div class="text-[20px]">
        <p>
          Total <span class="line-through">{{ price }}</span>
          <span class="text-[red] font-bold"> {{ discountPrice }}</span>
        </p>
      </div>
    } @else {
      <p class="text-[20px]">Total {{ price }}</p>
    }
    <div class="flex flex-end gap-[8px]">
      <button
        (click)="goDetailedProduct(`${product().id}`)"
        class="text-[#f8e4be] p-2.5 rounded-[5px] w-[160px] bg-[#524139FF] cursor-pointer transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#795f53]"
        label="About"
      >
        About
      </button>
      <button
        class="text-[#f8e4be] p-2.5 rounded-[5px] w-[160px] bg-[#524139FF] cursor-pointer transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#795f53]"
      >
        Add to Card
      </button>
    </div>
  </div>
</div>
