<div class="p-6 flex flex-col gap-4">
  <h2 class="text-2xl">Shopping cart</h2>
  <table class="" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody class="flex flex-col w-full">
      @for (item of cartItems(); track item.id) {
        <app-cart-item [item]="item" />
      }
    </tbody>
  </table>
  <div>
    <span>Total:</span>
    {{ totalPrice }}
  </div>
</div>
