<div class="p-6 flex flex-col gap-4">
  <h2 class="text-2xl">Shopping cart</h2>
  <table class="" cellspacing="0">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      @for (item of cartItems(); track item.id) {
        <tr class="cart_item">
          <td class="product-remove">
            <button
              (click)="(false)"
              class="cursor-pointer p-3.5 transition-all duration-[0.3s] ease-[ease-out]"
            >
              <img class="w-5" src="/svg/remove.svg" alt="remove" />
            </button>
          </td>
          <td>
            <img
              [src]="item.variant.images[0].url"
              class="w-[150px] h-[150px] object-contain"
              [alt]="item.name['en-US']"
            />
          </td>
          <td>
            <span class="text-md font-bold">{{ item.name['en-US'] }}</span>
          </td>
          <td>
            <span class="text-sm">{{ '$' + item.variant.prices[0].value.centAmount }}</span>
          </td>
          <td>
            <input type="number" value="1" min="0" max="" step="1" autocomplete="off" />
          </td>
          <td>
            <span class="text-sm"> {{ '$' + item.variant.prices[0].value.centAmount }}</span>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
