<div class="m-auto p-20 py-0 h-[calc(100vh-72px)] flex justify-center max-md:p-8 max-md:py-0">
  <div class="max-w-[500px] flex flex-col gap-[10px] items-center justify-center text-center">
    <h1 class="title-h1 leading-[80px] text-[70px]">404</h1>
    <h1 class="leading-[60px] text-[45px]">This Page Got Over-Ground</h1>
    <p class="text-[18px]">
      Oops! Looks like this URL vanished faster than coffee in our break room. Let’s get you back to
      brewing happiness.
    </p>
    <button
      (click)="goHome()"
      class="bg-[#6B3C21] transition-all duration-[0.3s] ease-[ease-out] w-[200px] hover:bg-[#7e4727] text-white cursor-pointer p-2.5 rounded-[3px] disabled:border-gray-200 disabled:bg-[#504742] disabled:shadow-none disabled:pointer-events-none"
    >
      Back to Home
    </button>
  </div>
</div>
