<h2 mat-dialog-title>Editing addresses</h2>
<div class="flex flex-col items-center">
  <form
    class="max-w-[800px] w-full flex flex-col gap-[20px] items-center mb-[30px] max-md:px-4"
    [formGroup]="adressEditForm"
    (ngSubmit)="save()"
  >
    <div class="flex flex-col">
      <div
        class="address grid grid-cols-[repeat(2,1fr)] gap-[40px] mt-[20px] max-md:flex max-md:flex-col w-full"
      >
        <div formGroupName="shippingAddress" class="shipping flex flex-col gap-5">
          <p class="title text-center text-lg font-[bold]">Shipping Address</p>
          <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput formControlName="streetName" type="text" required />
            <mat-error *ngIf="adressEditForm.get('shippingAddress.streetName')?.hasError('pattern')"
              >Must contain at least one character.</mat-error
            >
            <mat-error
              *ngIf="adressEditForm.get('shippingAddress.streetName')?.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" type="text" required />
            <mat-error *ngIf="adressEditForm.get('shippingAddress.city')?.hasError('cityValidator')"
              >Must contain at least one character and no special characters or numbers</mat-error
            >
            <mat-error *ngIf="adressEditForm.get('shippingAddress.city')?.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>

          <mat-form-field hintLabel="" class="mt-[20px]">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              #input
              minlength="5"
              maxlength="5"
              placeholder="12345"
              formControlName="postalCode"
              type="number"
              required
            />
            <mat-error *ngIf="adressEditForm.get('shippingAddress.postalCode')?.hasError('pattern')"
              >Enter correct postal code (5 numbers).</mat-error
            >
            <mat-error
              *ngIf="adressEditForm.get('shippingAddress.postalCode')?.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Country*" formControlName="country" required>
              <mat-option *ngFor="let country of shippingCountry" [value]="country.value">
                {{ country.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="adressEditForm.get('shippingAddress.country')?.hasError('required')"
              >Select country.</mat-error
            >
          </mat-form-field>

          <section>
            <mat-checkbox formControlName="setDefault"
              >Set as default Shipping address</mat-checkbox
            >
          </section>
        </div>

        <div formGroupName="billingAddress" class="billing flex flex-col gap-5">
          <p class="title text-center text-lg font-[bold]">Billing Address</p>
          <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput formControlName="streetName" type="text" required />
            <mat-error *ngIf="adressEditForm.get('billingAddress.streetName')?.hasError('pattern')"
              >Must contain at least one character.</mat-error
            >
            <mat-error *ngIf="adressEditForm.get('billingAddress.streetName')?.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" type="text" required />
            <mat-error *ngIf="adressEditForm.get('billingAddress.city')?.hasError('cityValidator')"
              >Must contain at least one character and no special characters or numbers</mat-error
            >
            <mat-error *ngIf="adressEditForm.get('billingAddress.city')?.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>

          <mat-form-field hintLabel="" class="mt-[20px]">
            <mat-label>Postal Code</mat-label>
            <input
              matInput
              #input
              maxlength="5"
              placeholder="12345"
              formControlName="postalCode"
              type="number"
              required
            />
            <mat-error *ngIf="adressEditForm.get('billingAddress.postalCode')?.hasError('required')"
              >This field is required</mat-error
            >
            <mat-error *ngIf="adressEditForm.get('billingAddress.postalCode')?.hasError('pattern')"
              >Enter correct postal code (5 numbers).</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Country*" formControlName="country" required>
              <mat-option *ngFor="let country of billingCountry" [value]="country.value">
                {{ country.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="adressEditForm.get('billingAddress.country')?.hasError('required')"
              >Select country.</mat-error
            >
          </mat-form-field>
          <section>
            <mat-checkbox formControlName="setDefault">Set as default Billing address</mat-checkbox>
          </section>
        </div>
      </div>
    </div>
  </form>

  <div class="flex justify-end gap-x-4 mt-4 mr-4 mb-4">
    <button
      class="w-30 bg-[#6B3C21] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] text-white cursor-pointer px-5 py-2 rounded-[3px]"
      (click)="close()"
    >
      Cancel
    </button>

    <button
      class="w-30 bg-[#6B3C21] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] text-white cursor-pointer px-5 py-2 rounded-[3px] disabled:border-gray-200 disabled:bg-[#504742] disabled:shadow-none disabled:pointer-events-none"
      [disabled]="adressEditForm.invalid"
      (click)="save()"
    >
      Save
    </button>
  </div>
</div>
