<form class="max-w-[300px] flex flex-col gap-[20px] items-center">
  <h1 class="text-3xl">Welcome</h1>

  <div class="flex flex-col">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput />
    </mat-form-field>

    <button
      type="submit"
      class="bg-[#6B3C21] text-white cursor-pointer p-2.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727]"
    >
      Login
    </button>
  </div>
</form>
