<form
  class="max-w-[300px] flex flex-col gap-[20px] items-center"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <h1 class="text-3xl">Welcome</h1>

  <div class="flex flex-col gap-2.5">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="user@example.com"
        name="email"
        required
      />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
        >This field is required</mat-error
      >
      <mat-error *ngIf="loginForm.value.email">Please, enter correct email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>

      <input
        matInput
        formControlName="password"
        [type]="hidePassword() ? 'password' : 'text'"
        name="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()"
      >
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
        >This field is required.</mat-error
      >
      <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')"
        >Password must be a combination of lower-case, upper-case, numbers at least 8 characters
        long.</mat-error
      >
    </mat-form-field>

    <button
      type="submit"
      class="bg-[#6B3C21] text-white cursor-pointer mt-2 p-2.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727]"
    >
      Log In
    </button>
    <div class="flex gap-[5px] justify-center">
      <p>or</p>
      <button (click)="goRegistration()" class="text-[gray] cursor-pointer">Sing Up</button>
    </div>
  </div>
</form>
