<header
  class="max-w-[1440px] m-auto px-10 py-2 bg-linear-to-r from-[#3F2F2AFF] from-45% via-[#7C573CFF] via-65% to-[#5F4431FF] to-90% max-sm:px-5"
>
  <div class="max-w-screen-xl mx-auto flex items-center justify-between relative">
    <div class="flex items-center">
      <button (click)="goHome()" class="cursor-pointer">
        <img src="/logo.svg" alt="logo" class="logo" height="72" width="72" />
      </button>
    </div>
    @if (isAuthAcc()) {
      <div class="hidden min-[690px]:flex absolute left-1/2 -translate-x-1/2 gap-[20px]">
        <button
          (click)="goCatalog()"
          [disabled]="this.router.url.includes('/catalog')"
          class="text-white text-[25px] cursor-pointer rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:text-[var(--hover-text-color)] disabled:pointer-events-none disabled:text-[var(--hover-text-color)] relative before:content-[''] before:absolute before:opacity-0 before:bottom-[-5px] before:w-0 before:border before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-[var(--text-color)] before:left-0 hover:before:w-full hover:before:opacity-[100%]"
        >
          <span class="title-h1">Catalog</span>
        </button>
        <button
          (click)="goAbout()"
          [disabled]="this.router.url.includes('/about')"
          class="text-white text-[25px] cursor-pointer rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:text-[var(--hover-text-color)] disabled:pointer-events-none disabled:text-[var(--hover-text-color)] relative before:content-[''] before:absolute before:opacity-0 before:bottom-[-5px] before:w-0 before:border before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-[var(--text-color)] before:left-0 hover:before:w-full hover:before:opacity-[100%]"
        >
          <span class="title-h1">About Us</span>
        </button>
      </div>
      <div class="flex justify-end items-center gap-2">
        <button
          (click)="goCatalog()"
          [disabled]="this.router.url.includes('/catalog')"
          class="block min-[690px]:hidden bg-[#6B3C21] text-white cursor-pointer p-3.5 min-w-[44px] min-h-[44px] rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] disabled:pointer-events-none"
          title="Catalog"
        >
          <img class="w-5" src="/svg/catalog.svg" alt="catalog" />
        </button>
        <button
          (click)="goAbout()"
          [disabled]="this.router.url.includes('/about')"
          class="block min-[690px]:hidden bg-[#6B3C21] text-white cursor-pointer p-3.5 min-w-[44px] min-h-[44px] rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] disabled:pointer-events-none"
          title="AboutUs"
        >
          <img class="w-5" src="/svg/about.svg" alt="aboutUs" />
        </button>
        <button
          (click)="logout()"
          class="bg-[#6B3C21] text-white cursor-pointer p-3.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727]"
          title="Log Out"
        >
          <img class="w-5" src="/svg/logOut.svg" alt="logOut" />
        </button>
        <button
          (click)="goProfile()"
          class="bg-[#6B3C21] text-white cursor-pointer p-3.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] flex items-center gap-2"
        >
          <img class="w-5 h-5" src="/svg/profile.svg" alt="UserProfile" />
          <span *ngIf="customer() as customerResult" class="title-h1">{{
            customerResult.customer.firstName
          }}</span>
        </button>
        <button
          (click)="goCart()"
          class="flex bg-[#6B3C21] text-white cursor-pointer p-3.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727]"
        >
          <img class="w-5" src="/svg/cart80.svg" alt="cart" />
          @if (quantityIndicator > 0) {
            <span>({{ quantityIndicator }})</span>
          }
        </button>
      </div>
    } @else {
      <div class="hidden min-[690px]:flex absolute left-1/2 -translate-x-1/2 gap-[20px]">
        <button
          (click)="goCatalog()"
          [disabled]="this.router.url.includes('/catalog')"
          class="text-white text-[25px] cursor-pointer rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:text-[var(--hover-text-color)] disabled:pointer-events-none disabled:text-[var(--hover-text-color)] relative before:content-[''] before:absolute before:opacity-0 before:bottom-[-5px] before:w-0 before:border before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-[var(--text-color)] before:left-0 hover:before:w-full hover:before:opacity-[100%]"
        >
          <span class="title-h1">Catalog</span>
        </button>
        <button
          (click)="goAbout()"
          [disabled]="this.router.url.includes('/about')"
          class="text-white text-[25px] cursor-pointer rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:text-[var(--hover-text-color)] disabled:pointer-events-none disabled:text-[var(--hover-text-color)] relative before:content-[''] before:absolute before:opacity-0 before:bottom-[-5px] before:w-0 before:border before:transition-all before:duration-[0.3s] before:ease-[ease-in-out] before:border-solid before:border-[var(--text-color)] before:left-0 hover:before:w-full hover:before:opacity-[100%]"
        >
          <span class="title-h1">About Us</span>
        </button>
      </div>
      <div class="flex justify-end items-center gap-2">
        <button
          (click)="goCatalog()"
          [disabled]="this.router.url.includes('/catalog')"
          class="block min-[690px]:hidden bg-[#6B3C21] text-white cursor-pointer p-3.5 min-w-[44px] min-h-[44px] rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] disabled:pointer-events-none"
          title="Catalog"
        >
          <img class="w-5" src="/svg/catalog.svg" alt="catalog" />
        </button>

        <button
          (click)="goAbout()"
          [disabled]="this.router.url.includes('/about')"
          class="block min-[690px]:hidden bg-[#6B3C21] text-white cursor-pointer p-3.5 min-w-[44px] min-h-[44px] rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727] disabled:pointer-events-none"
          title="AboutUs"
        >
          <img class="w-5" src="/svg/about.svg" alt="aboutUs" />
        </button>
        <button
          (click)="goRegistration()"
          class="bg-[#6B3C21] text-white cursor-pointer p-3.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727]"
          title="Sign Up"
        >
          <img class="w-5" src="/svg/signUp.svg" alt="signUp" />
        </button>
        <button
          (click)="goLogin()"
          class="bg-[#6B3C21] text-white cursor-pointer p-3.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727]"
          title="Log In"
        >
          <img class="w-5" src="/svg/logIn.svg" alt="logIn" />
        </button>
        <button
          (click)="goCart()"
          class="flex bg-[#6B3C21] text-white cursor-pointer p-3.5 rounded-[3px] transition-all duration-[0.3s] ease-[ease-out] hover:bg-[#7e4727]"
        >
          <img class="w-5" src="/svg/cart80.svg" alt="cart" />
          @if (quantityIndicator > 0) {
            <span>({{ quantityIndicator }})</span>
          }
        </button>
      </div>
    }
  </div>
</header>
