<header class="bg-[#3F2F2A]">
  <div class="wrapper max-w-screen-xl flex justify-between items-center m-auto px-10 py-0">
    <button (click)="goHome()" class="cursor-pointer">
      <img ngSrc="/logo.svg" alt="logo" class="logo" height="72" width="72" />
    </button>

    <div class="control-btn flex gap-5">
      <button
        (click)="goLogin()"
        class="bg-[#6B3C21] text-white cursor-pointer p-2.5 rounded-[3px]"
      >
        Sing In
      </button>
      <button
        (click)="goRegistration()"
        class="bg-[#6B3C21] text-white cursor-pointer p-2.5 rounded-[3px]"
      >
        Registration
      </button>
    </div>
  </div>
</header>
