/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

:root {

  .mat-mdc-select-panel {
    background-color: #eae3d7;
  }
  .mat-datepicker-content-container {
    background-color: #eae3d7;
  }
  .mat-mdc-text-field-wrapper {
    border-radius: 3px;
    border: 1px solid #C3C2C2E5;
  }
  .mdc-floating-label,
  .mat-mdc-select-placeholder {
    color: gray;
  }

  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 3px;
  }
  
  .mat-mdc-form-field-error {
    font-size: 12px;
    color: #ff3d00;
  }
}

.mat-form-field-invalid .mat-mdc-form-field-infix,
.mat-form-field-invalid .mdc-line-ripple {
  color: #ff3d00;
}
