/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

:root {
  --button-color: #524139ff;
  --button-text-color: #f8e4be;
  --hover-button-color: #795f53;
  --text-color: #6e594bff;

  --error-color: #ff3d00;

  .mat-mdc-select-panel {
    background-color: #eae3d7;
  }
  .mat-datepicker-content-container {
    background-color: #eae3d7;
  }
  .mat-mdc-text-field-wrapper {
    border-radius: 3px;
    border: 1px solid #c3c2c2e5;
  }
  .mdc-floating-label,
  .mat-mdc-select-placeholder {
    color: gray;
  }

  .mat-mdc-form-field-hint-wrapper,
  .mat-mdc-form-field-error-wrapper {
    padding: 3px;
  }

  .mat-mdc-form-field-error {
    font-size: 12px;
    color: #ff3d00;
  }

  .disabled-form-control {
    opacity: 0.5;
  }

  .cdk-overlay-backdrop {
    cursor: pointer;
  }

  .mat-mdc-dialog-surface {
    background-color: transparent;
    overflow-y: inherit;
  }

  .mat-mdc-dialog-actions {
    padding: 0;
    position: absolute;
    right: 0;
  }
  .close-modal {
    z-index: 2;
    padding: 20px;
  }

  .mat-mdc-slider {
    min-width: 150px;
  }

  .mat-icon {
    cursor: pointer;
  }
}

.mat-form-field-invalid .mat-mdc-form-field-infix,
.mat-form-field-invalid .mdc-line-ripple {
  color: #ff3d00;
}

.title-h1 {
  font-family: 'Dancing Script', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body {
  font-family: Roboto, sans-serif;
}

html {
  --mdc-slider-active-track-height: 6px;
  --mdc-slider-handle-shape: 50%;
  --mdc-slider-handle-color: #6e594bff;
  --mdc-slider-focus-handle-color: #6b3c21;
  --mdc-slider-hover-handle-color: #795f53;
  --mdc-slider-active-track-color: #6e594bff;
  --mdc-slider-inactive-track-color: black;
}
