<div
  class="m-auto p-20 py-0 pt-[50px] flex flex-col items-center gap-[30px] max-md:p-8 max-md:py-0 mb-[10px]"
>
  <div class="flex items-center gap-[50px] max-[670px]:flex-col max-[670px]:gap-[25px]">
    <h1
      class="title-h1 leading-[80px] text-[70px] text-[var(--button-color)] max-[670px]:text-[50px] max-[670px]:leading-[60px]"
    >
      GPT & CO Team
    </h1>
    <a href="https://rs.school/index.html" target="_blank">
      <img src="/svg/logo-rs-school.svg" alt="logo-rs-school" width="50" height="50" />
    </a>
  </div>
  <div>
    <h2 class="text-[23px] text-[var(--text-color)] mt-3 mb-3 mx-0">
      Welcome to <span class="name-website font-extrabold">The Daily Grind</span>
    </h2>
    <p>
      This is a place where luxury meets every grain, and
      <span class="font-extrabold text-[var(--text-color)]"
        >excellence is embodied in every cup.</span
      >
      We have created this unique store to give you an unforgettable experience in the world of
      exquisite coffee and premium accessories.
    </p>
    <h2 class="text-[23px] text-[var(--text-color)] mt-3 mb-3 mx-0">Our Mission</h2>
    <p>
      Our mission is to provide you with access to the rarest and most delightful coffee varieties
      from every corner of the planet. From
      <span class="font-extrabold text-[var(--text-color)]">aromatic beans from distant lands</span>
      to magnificent accessories for true connoisseurs – here you will find everything needed to
      create the perfect coffee ceremony.
    </p>
    <h2 class="text-[23px] text-[var(--text-color)] mt-3 mb-3 mx-0">Customer Experience</h2>
    <p>
      We are proud that our customers appreciate not only the quality of our products but also the
      convenience of our service. Specially for you, we have developed an
      <span class="font-extrabold text-[var(--text-color)]"
        >intuitive registration and authorization system</span
      >
      to make every purchase as comfortable as possible.
    </p>
    <h2 class="text-[23px] text-[var(--text-color)] mt-3 mb-3 mx-0">A Community of Connoisseurs</h2>
    <p>
      <span class="name-website text-[18px] font-extrabold">The Daily Grind</span>
      is not just a store. It is a community of connoisseurs of fine things, where everyone will
      find their perfect drink and accessories for its preparation. We proudly supply our products
      to the <span class="font-extrabold text-[var(--text-color)]">USA, Italy, and Spain</span>,
      bringing joy to true gourmets around the world.
    </p>
    <h2 class="text-[23px] text-[var(--text-color)] mt-3 mb-3 mx-0">Join Us</h2>
    <p>
      Join us – together we will create new traditions of coffee excellence. Welcome to a world
      where every grain is a luxury, and every cup is a work of art.
    </p>
  </div>

  <div
    class="flex gap-[100px] items-center justify-center text-center w-full max-[1100px]:flex-wrap max-[1100px]:gap-[50px]"
  >
    <div class="max-w-[250px] min-h-[750px] flex flex-col justify-between items-center gap-[20px]">
      <h1
        class="title-h1 leading-[50px] text-[40px] min-h-[100px] flex items-center text-[var(--button-color)]"
      >
        Evgeniya Tsel
      </h1>
      <img src="/png/jane.jpg" alt="jane" class="h-[250px]" />
      <div>
        <p class="font-extrabold text-[var(--text-color)]">Role: Team Lead</p>
        <p>
          Evgenia became interested in front-end development after receiving a master's degree in
          applied mathematics and computer science. In her free time, Evgenia enjoys reading, which
          helps her to distract herself from technical tasks and broaden her horizons.
        </p>
      </div>
      <a href="https://github.com/jnuka" target="_blank">
        <img src="/svg/github.svg" alt="github" width="50" />
      </a>
    </div>
    <div class="max-w-[250px] min-h-[750px] flex flex-col justify-between items-center gap-[20px]">
      <h1
        class="title-h1 leading-[50px] text-[40px] min-h-[100px] flex items-center text-[var(--button-color)]"
      >
        Maria Zolotogornaya
      </h1>
      <img src="/png/Maria.jpeg" alt="Maria" class="h-[250px]" />
      <div>
        <p class="font-extrabold text-[var(--text-color)]">
          Role: Head of API Integration Services
        </p>
        <p>
          Maria graduated from an aviation university, but realized that she did not want to
          register angry passengers and meet planes, and decided to change her field of activity,
          taking up front-end development. In addition to work, she likes to travel, actively seeks
          new internships and presents herself as a senior developer.
        </p>
      </div>
      <a href="https://github.com/goldbergz" target="_blank">
        <img src="/svg/github.svg" alt="github" width="50" />
      </a>
    </div>
    <div class="max-w-[250px] min-h-[750px] flex flex-col justify-between items-center gap-[20px]">
      <h1
        class="title-h1 leading-[50px] text-[40px] min-h-[100px] flex items-center text-[var(--button-color)]"
      >
        Alina Litvinka
      </h1>
      <img src="/png/Alina.jpg" alt="Alina" class="h-[250px]" />
      <div>
        <p class="font-extrabold text-[var(--text-color)]">
          Role: Head of Forms and Catalog Page Management
        </p>
      </div>
      <a href="https://github.com/alinalitvinka" target="_blank">
        <img src="/svg/github.svg" alt="github" width="50" />
      </a>
    </div>
  </div>
  <p>
    <span class="text-[20px] text-[var(--text-color)] name-website">Evgeniya</span> has implemented
    a set of tasks for developing a coffee-themed web application. She completed the visual layout
    of all the pages in accordance with the approved design layout of the team. Special attention
    was paid to creating user-friendly authorization and registration forms. Evgenia has implemented
    an effective routing system for website navigation. A significant achievement was the
    development of a detailed product page with an interactive image slider. An innovative solution
    was the use of GPT services to generate and add images of coffee and accessories to
    CommerceTools, where small discounts on products were also set up. The final element of the work
    was the implementation of an informative "About us" page, complementing the overall
    functionality of the application.
  </p>
  <p>
    As part of the project,
    <span class="text-[20px] text-[var(--text-color)] name-website">Maria</span> created and
    configured the infrastructure in CommerceTools, including working with products, pricing, and
    the API client. Special attention was paid to the user authorization system – Maria implemented
    a full-fledged registration and authentication system through the CommerceTools API. The
    functionality of the personal account has been supplemented with a profile page with the ability
    to edit user data. An important achievement was the integration of the product catalog with the
    CommerceTools API, which allows you to create a shopping cart. For the convenience of users,
    Maria has also set up pagination on the product catalog page.
  </p>
  <p>
    <span class="text-[20px] text-[var(--text-color)] name-website">Alina</span> has successfully
    implemented several important technical tasks in the framework of web development. She set up
    the Jira work environment, which ensured effective project management. Package optimization was
    also performed.json with the correct configuration for connecting the required packages. A
    significant achievement was the introduction of a validation system for all forms on the site,
    which improved the quality of user input. Functionally, Alina developed a catalog page with
    integrated search and filtering functions, and also created a shopping cart page, which
    significantly expanded the user interface and improved the user experience.
  </p>
  <div>
    <h2 class="text-[23px] text-[var(--text-color)]">From Collaboration to Success</h2>
    <p>
      Thanks to a clear division of responsibilities and regular daily stand-ups, the developers
      were able to synchronize their efforts and avoid duplication of work. All decisions were made
      collectively, which made it possible to find optimal technical solutions and avoid critical
      errors. During the work, the team actively used the version control system and test
      automation, which significantly improved the quality of the code. Thanks to this approach, the
      project was not only successfully completed on time, but also received high marks. This
      experience has clearly shown how well-coordinated team work can lead to the creation of a
      high-quality product.
    </p>
  </div>
  <div class="flex items-center gap-[20px]">
    <p class="name-website text-[20px]">2025</p>
  </div>
</div>
