<div
  class="m-auto p-20 py-0 pt-[50px] flex flex-col items-center gap-[30px] max-md:p-8 max-md:py-0 mb-[10px]"
>
  <h1 class="title-h1 leading-[80px] text-[70px]">GPT & CO Team</h1>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
    but also the leap into electronic typesetting, remaining essentially unchanged. It was
    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of
    Lorem Ipsum
  </p>
  <div class="flex gap-[100px] items-center justify-center text-center w-full">
    <div class="max-w-[250px] min-h-[600px] flex flex-col justify-between items-center gap-[20px]">
      <h1 class="title-h1 leading-[50px] text-[40px] min-h-[100px] flex items-center">
        Evgeniya Tsel
      </h1>
      <img src="/png/jane.jpg" alt="jane" class="h-[250px]" />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <a href="https://github.com/jnuka" target="_blank">
        <img src="/svg/github-logo.png" alt="github" width="50" />
      </a>
    </div>
    <div class="max-w-[250px] min-h-[600px] flex flex-col justify-between items-center gap-[20px]">
      <h1 class="title-h1 leading-[50px] text-[40px] min-h-[100px] flex items-center">
        Maria Zolotogornaya
      </h1>
      <img src="/png/Maria.jpeg" alt="Maria" class="h-[250px]" />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <a href="https://github.com/goldbergz" target="_blank">
        <img src="/svg/github-logo.png" alt="github" width="50" />
      </a>
    </div>
    <div class="max-w-[250px] min-h-[600px] flex flex-col justify-between items-center gap-[20px]">
      <h1 class="title-h1 leading-[50px] text-[40px] min-h-[100px] flex items-center">
        Alina Litvinka
      </h1>
      <img src="/png/Alina.jpg" alt="Alina" class="h-[250px]" />
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book.
      </p>
      <a href="https://github.com/alinalitvinka" target="_blank">
        <img src="/svg/github-logo.png" alt="github" width="50" />
      </a>
    </div>
  </div>
  <div class="flex items-center gap-[20px]">
    <a href="https://rs.school/index.html" target="_blank">
      <img src="/svg/logo-rs-school.svg" alt="logo-rs-school" width="50" height="50" />
    </a>
    <p>&#64;2025</p>
  </div>
</div>
